<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606194185125-h38sghfbim3ip8g0jh67sh6fbc49ncrv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606194185125-h38sghfbim3ip8g0jh67sh6fbc49ncrv</string>
	<key>API_KEY</key>
	<string>AIzaSyAZi6nKR1asMw74YFyCH7ICHMlWPGBdtWM</string>
	<key>GCM_SENDER_ID</key>
	<string>606194185125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tuk.tuk.company.app</string>
	<key>PROJECT_ID</key>
	<string>tuktuk-11aad</string>
	<key>STORAGE_BUCKET</key>
	<string>tuktuk-11aad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606194185125:ios:6f55d4dbc56b2e2fd46e4c</string>
</dict>
</plist>